﻿@model HomeCare.Models.HelperModel

@{
    ViewData["Title"] = "Create";
}

<h3>Helper Registration</h3>
<hr />
<div class="row">
    <div class="col-md-offset-2 col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lastname" class="control-label"></label>
                <input asp-for="Lastname" class="form-control" />
                <span asp-validation-for="Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <select name="gender" required class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
                &nbsp;
                <label asp-for="Religion" class="control-label"></label>
                <select name="Religion" required class="form-control">
                    <option value="Christian">Christian</option>
                    <option value="Muslim">Muslim</option>
                    <option value="Others">Others</option>
                </select>
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                <input asp-for="Qualification" class="form-control" />
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Language" class="control-label"></label>
                <input asp-for="Language" class="form-control" />
                <span asp-validation-for="Language" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinName" class="control-label"></label>
                <input asp-for="NextOfKinName" class="form-control" />
                <span asp-validation-for="NextOfKinName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinAddress" class="control-label"></label>
                <input asp-for="NextOfKinAddress" class="form-control" />
                <span asp-validation-for="NextOfKinAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NextOfKinPhone" class="control-label"></label>
                <input asp-for="NextOfKinPhone" class="form-control" />
                <span asp-validation-for="NextOfKinPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
