﻿@model HomeCare.Models.HelperModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HelperModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        
        @if (User.IsInRole("" + HomeCare.AppUtils.AppRoles.ADMIN + "," + HomeCare.AppUtils.AppRoles.GUARANTOR + ""))
        {
            <dt>
                @Html.DisplayNameFor(model => model.NextOfKinName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NextOfKinName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NextOfKinAddress)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NextOfKinAddress)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NextOfKinPhone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NextOfKinPhone)
            </dd>

        }

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
